.box {
    text-align: center;
    background-color:  rgb(193, 221, 221);
    margin-top: 200px;
    
}

#oyun {
    color: blue;
}

#duzgun {
    letter-spacing: 4px;
    color: red;
}


#texmin {
    color: red;
}



body{
    background-image: url(7_2.jpg);
    background-repeat: no-repeat;
    opacity: 0.9;
    width: 1350px;
    background-size: 1400px 700px;
}